{% extends 'base.html' %}

{% block content %}
    <div class="forminput">
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"> <br>
            <input type="email" name="email" placeholder="email"> <br>
            <input type="password" name="password1" placeholder="Enter passowrd"> <br>
            <input type="password" name="password2" placeholder="Confirm password"> <br>
            <input type="submit" value="submit">
        </form>

        <div>
            
            <h3 style="color:white"> {{error}}</h3></div>


    </div>
{% endblock %}